{{>header.hbs}}

<form action="/newuser" method="get">

    <label for="fname">First name:</label>
    <input type="text" id="fname" name="fname"> <br>

    <label for="lname">Last name:</label>
    <input type="text" id="lname" name="lname"> <br>

    <label for="uname">User ID:</label>
    <input type="text" id="uuserid" name="userid"> <br>

    <label for="pword">Password:</label>
    <input type="text" id="pword" name="pword"> <br>

    <label for="pwordconf">Confirm password:</label>
    <input type="text" id="pwordconf" name="pwordconf"> <br>

    <p><button type="submit">Create account</button></p>

</form>

{{>footer.hbs}}