<a href="/homepage"> Return to homepage </a>

    <form action="stevensPage" method="post">

        <label for="genre">Enter another genre:</label>
        <input type="text" id = "genre" name="genre_field"> <br>

        <p><button type="submit">Search</button></p>

    </form>